@import url('https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap&subset=cyrillic');
@import "variables";
@import "slideshow";

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    color: black;
}

.content-wrapper_simple-theme {
    margin: 10px auto;
    width: 90%;
    max-width: 1920px;
}

.header_simple-theme {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.header__wrapper_simple-theme {
    display: flex;
    width: 70%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}

.header__h1_simple-theme,
.header__span_simple-theme {
    line-height: 36px;
    font-size: 24px;
}

.header__phone_simple-theme {
    width: 30%;
}

.header__phone-number_simple-theme {
    margin: 0;
    padding: 0;
}

.header__phone-number_simple-theme .header__link_simple-theme {
    font-size: 30px;
}

.header__link_simple-theme {
    text-decoration: none;
    color: black;

    &:hover {
        text-decoration: underline;
    }
}

.header__logo_simple-theme {
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: flex-start;

    .header__img_simple-theme {
        margin: 0;
        padding: 0;
        width: 300px;
    }
}

.header__phone_simple-theme {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .header__img_simple-theme {
        width: 30px;
    }
}

.header__button_simple-theme {
    margin-top: 10px;
    width: 250px;
    height: 50px;
    color: white;
    font-weight: bold;
    background-color: $buttonBackgroundColor;
    border: none;
    border-radius: 30px;
}

.slide_simple-theme {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
}

.slide__img-container_simple-theme {
    display: flex;
    flex-direction: row;
    align-content: center;
    width: 50%;
    background-color: brown;
}

.slide__img_simple-theme {
    height: 400px;
}

.slide__info-container_simple-theme {
    width: 50%;
    background-color: cadetblue;
}

.slide__li_simple-theme {
    list-style-position: inside;
}